@import "tailwindcss";

body {
    background-color: var(--color-gray-300);
}

.active {
    color: var(--color-blue-700);
}

.active-footer {
    color: var(--color-blue-700);
}

.active-category {
    border-color: var(--color-blue-700);
}

@media (max-width: 767px) {
    .active {
        background-color: var(--color-blue-700);
        color: white;
    }
}
